<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CS480 Demo</display-name>
    <servlet>
    <description></description>
    <display-name>EdibleServletCreate</display-name>
    <servlet-name>EdibleServletCreate</servlet-name>
    <servlet-class>edible.web.servlet.EdibleServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EdibleServletCreate</servlet-name>
    <url-pattern>/EdibleServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>EdibleServletRead</display-name>
    <servlet-name>EdibleServletRead</servlet-name>
    <servlet-class>edible.web.servlet.EdibleServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EdibleServletRead</servlet-name>
    <url-pattern>/EdibleServletRead</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <description></description>
    <display-name>EdibleServletUpdate</display-name>
    <servlet-name>EdibleServletUpdate</servlet-name>
    <servlet-class>edible.web.servlet.EdibleServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EdibleServletUpdate</servlet-name>
    <url-pattern>/EdibleServletUpdate</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>EdibleServletDelete</display-name>
    <servlet-name>EdibleServletDelete</servlet-name>
    <servlet-class>edible.web.servlet.EdibleServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EdibleServletDelete</servlet-name>
    <url-pattern>/EdibleServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UserServletRegister</display-name>
    <servlet-name>UserServletRegister</servlet-name>
    <servlet-class>user.web.servlet.UserServletRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletRegister</servlet-name>
    <url-pattern>/UserServletRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServletLogin</display-name>
    <servlet-name>UserServletLogin</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogin</servlet-name>
    <url-pattern>/UserServletLogin</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>UserServletLogout</display-name>
    <servlet-name>UserServletLogout</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogout</servlet-name>
    <url-pattern>/UserServletLogout</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>findAll</display-name>
    <servlet-name>findAll</servlet-name>
    
    <servlet-class>user.web.servlet.findAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findAll</servlet-name>
    <url-pattern>/findAll</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>