<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CS480 Demo</display-name>
      <servlet>
    <description></description>
    <display-name>SeasonServletCreate</display-name>
    <servlet-name>SeasonServletCreate</servlet-name>
    <servlet-class>season.web.servlet.SeasonServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeasonServletCreate</servlet-name>
    <url-pattern>/SeasonServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>SeasonServletRead</display-name>
    <servlet-name>SeasonServletRead</servlet-name>
    <servlet-class>season.web.servlet.SeasonServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeasonServletRead</servlet-name>
    <url-pattern>/SeasonServletRead</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <description></description>
    <display-name>SeasonServletUpdate</display-name>
    <servlet-name>SeasonServletUpdate</servlet-name>
    <servlet-class>season.web.servlet.SeasonServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeasonServletUpdate</servlet-name>
    <url-pattern>/SeasonServletUpdate</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>SeasonServletDelete</display-name>
    <servlet-name>SeasonServletDelete</servlet-name>
    <servlet-class>season.web.servlet.SeasonServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SeasonServletDelete</servlet-name>
    <url-pattern>/SeasonServletDelete</url-pattern>
  </servlet-mapping>

  <servlet>
    <description></description>
    <display-name>ClimateServletCreate</display-name>
    <servlet-name>ClimateServletCreate</servlet-name>
    <servlet-class>climate.web.servlet.ClimateServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClimateServletCreate</servlet-name>
    <url-pattern>/ClimateServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ClimateServletRead</display-name>
    <servlet-name>ClimateServletRead</servlet-name>
    <servlet-class>climate.web.servlet.ClimateServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClimateServletRead</servlet-name>
    <url-pattern>/ClimateServletRead</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <description></description>
    <display-name>ClimateServletUpdate</display-name>
    <servlet-name>ClimateServletUpdate</servlet-name>
    <servlet-class>climate.web.servlet.ClimateServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClimateServletUpdate</servlet-name>
    <url-pattern>/ClimateServletUpdate</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>ClimateServletDelete</display-name>
    <servlet-name>ClimateServletDelete</servlet-name>
    <servlet-class>climate.web.servlet.ClimateServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClimateServletDelete</servlet-name>
    <url-pattern>/ClimateServletDelete</url-pattern>
  </servlet-mapping>






  <servlet>
    <description></description>
    <display-name>PhotoServletCreate</display-name>
    <servlet-name>PhotoServletCreate</servlet-name>
    <servlet-class>photo.web.servlet.PhotoServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoServletCreate</servlet-name>
    <url-pattern>/PhotoServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>PhotoServletRead</display-name>
    <servlet-name>PhotoServletRead</servlet-name>
    <servlet-class>photo.web.servlet.PhotoServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoServletRead</servlet-name>
    <url-pattern>/PhotoServletRead</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <description></description>
    <display-name>PhotoServletUpdate</display-name>
    <servlet-name>PhotoServletUpdate</servlet-name>
    <servlet-class>photo.web.servlet.PhotoServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoServletUpdate</servlet-name>
    <url-pattern>/PhotoServletUpdate</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>PhotoServletDelete</display-name>
    <servlet-name>PhotoServletDelete</servlet-name>
    <servlet-class>photo.web.servlet.PhotoServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoServletDelete</servlet-name>
    <url-pattern>/PhotoServletDelete</url-pattern>
  </servlet-mapping>


    <servlet>
    <description></description>
    <display-name>VisitorLocationServletCreate</display-name>
    <servlet-name>VisitorLocationServletCreate</servlet-name>
    <servlet-class>visitor_location.web.servlet.VisitorLocationServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisitorLocationServletCreate</servlet-name>
    <url-pattern>/VisitorLocationServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>VisitorLocationServletRead</display-name>
    <servlet-name>VisitorLocationServletRead</servlet-name>
    <servlet-class>visitor_location.web.servlet.VisitorLocationServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisitorLocationServletRead</servlet-name>
    <url-pattern>/VisitorLocationServletRead</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <description></description>
    <display-name>VisitorLocationServletUpdate</display-name>
    <servlet-name>VisitorLocationServletUpdate</servlet-name>
    <servlet-class>visitor_location.web.servlet.VisitorLocationServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisitorLocationServletUpdate</servlet-name>
    <url-pattern>/VisitorLocationServletUpdate</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>VisitorLocationServletDelete</display-name>
    <servlet-name>VisitorLocationServletDelete</servlet-name>
    <servlet-class>visitor_location.web.servlet.VisitorLocationServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisitorLocationServletDelete</servlet-name>
    <url-pattern>/VisitorLocationServletDelete</url-pattern>
  </servlet-mapping>
  

  <servlet>
    <description></description>
    <display-name>TerrainServletCreate</display-name>
    <servlet-name>TerrainServletCreate</servlet-name>
    <servlet-class>terrain.web.servlet.TerrainServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TerrainServletCreate</servlet-name>
    <url-pattern>/TerrainServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>TerrainServletRead</display-name>
    <servlet-name>TerrainServletRead</servlet-name>
    <servlet-class>terrain.web.servlet.TerrainServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TerrainServletRead</servlet-name>
    <url-pattern>/TerrainServletRead</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <description></description>
    <display-name>TerrainServletUpdate</display-name>
    <servlet-name>TerrainServletUpdate</servlet-name>
    <servlet-class>terrain.web.servlet.TerrainServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TerrainServletUpdate</servlet-name>
    <url-pattern>/TerrainServletUpdate</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>TerrainServletDelete</display-name>
    <servlet-name>TerrainServletDelete</servlet-name>
    <servlet-class>terrain.web.servlet.TerrainServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TerrainServletDelete</servlet-name>
    <url-pattern>/TerrainServletDelete</url-pattern>
  </servlet-mapping>




  <servlet>
    <description></description>
    <display-name>DiscovererServletCreate</display-name>
    <servlet-name>DiscovererServletCreate</servlet-name>
    <servlet-class>discoverer.web.servlet.DiscovererServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiscovererServletCreate</servlet-name>
    <url-pattern>/DiscovererServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>DiscovererServletRead</display-name>
    <servlet-name>DiscovererServletRead</servlet-name>
    <servlet-class>discoverer.web.servlet.DiscovererServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiscovererServletRead</servlet-name>
    <url-pattern>/DiscovererServletRead</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <description></description>
    <display-name>DiscovererServletUpdate</display-name>
    <servlet-name>DiscovererServletUpdate</servlet-name>
    <servlet-class>discoverer.web.servlet.DiscovererServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiscovererServletUpdate</servlet-name>
    <url-pattern>/DiscovererServletUpdate</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>DiscovererServletDelete</display-name>
    <servlet-name>DiscovererServletDelete</servlet-name>
    <servlet-class>discoverer.web.servlet.DiscovererServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiscovererServletDelete</servlet-name>
    <url-pattern>/DiscovererServletDelete</url-pattern>
  </servlet-mapping>
  
  
  
  
  
    <servlet>
    <description></description>
    <display-name>PredatorServletCreate</display-name>
    <servlet-name>PredatorServletCreate</servlet-name>
    <servlet-class>predator.web.servlet.PredatorServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PredatorServletCreate</servlet-name>
    <url-pattern>/PredatorServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>PredatorServletRead</display-name>
    <servlet-name>PredatorServletRead</servlet-name>
    <servlet-class>predator.web.servlet.PredatorServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PredatorServletRead</servlet-name>
    <url-pattern>/PredatorServletRead</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <description></description>
    <display-name>PredatorServletUpdate</display-name>
    <servlet-name>PredatorServletUpdate</servlet-name>
    <servlet-class>predator.web.servlet.PredatorServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PredatorServletUpdate</servlet-name>
    <url-pattern>/PredatorServletUpdate</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>PredatorServletDelete</display-name>
    <servlet-name>PredatorServletDelete</servlet-name>
    <servlet-class>predator.web.servlet.PredatorServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PredatorServletDelete</servlet-name>
    <url-pattern>/PredatorServletDelete</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <description></description>
    <display-name>EdibleServletCreate</display-name>
    <servlet-name>EdibleServletCreate</servlet-name>
    <servlet-class>edible.web.servlet.EdibleServletCreate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EdibleServletCreate</servlet-name>
    <url-pattern>/EdibleServletCreate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>EdibleServletRead</display-name>
    <servlet-name>EdibleServletRead</servlet-name>
    <servlet-class>edible.web.servlet.EdibleServletRead</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EdibleServletRead</servlet-name>
    <url-pattern>/EdibleServletRead</url-pattern>
  </servlet-mapping>
  
  
  
    <servlet>
    <description></description>
    <display-name>EdibleServletUpdate</display-name>
    <servlet-name>EdibleServletUpdate</servlet-name>
    <servlet-class>edible.web.servlet.EdibleServletUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EdibleServletUpdate</servlet-name>
    <url-pattern>/EdibleServletUpdate</url-pattern>
  </servlet-mapping>
  
  
    <servlet>
    <description></description>
    <display-name>EdibleServletDelete</display-name>
    <servlet-name>EdibleServletDelete</servlet-name>
    <servlet-class>edible.web.servlet.EdibleServletDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EdibleServletDelete</servlet-name>
    <url-pattern>/EdibleServletDelete</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>UserServletRegister</display-name>
    <servlet-name>UserServletRegister</servlet-name>
    <servlet-class>user.web.servlet.UserServletRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletRegister</servlet-name>
    <url-pattern>/UserServletRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServletLogin</display-name>
    <servlet-name>UserServletLogin</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogin</servlet-name>
    <url-pattern>/UserServletLogin</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>UserServletLogout</display-name>
    <servlet-name>UserServletLogout</servlet-name>
    <servlet-class>user.web.servlet.UserServletLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServletLogout</servlet-name>
    <url-pattern>/UserServletLogout</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
    <description></description>
    <display-name>findAll</display-name>
    <servlet-name>findAll</servlet-name>
    
    <servlet-class>user.web.servlet.findAll</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>findAll</servlet-name>
    <url-pattern>/findAll</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>